.circle {
    background: none repeat scroll 0 0 #191919;
    border-radius: 50px;
    height: 50px;
    padding: 10px;
    width: 50px;
    color: #fff;
}
.padding-top-double {
    padding-top: 20px;
}
.padding-double {
    padding: 20px;
}
.grey {
    color: #333;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #7f7f7f;
    margin: 1em 0;
    padding: 0;
    opacity: 0.2;
}
.light-grey {
    color: #7c7c7c;
}
.uppercase {
    text-transform: uppercase;
}
.grey-bg {
    background-color: #f6f4f4;
}
.doc-link {
    background: #11375B;
    padding: 20px;
    color: white;
    margin-top: 0;
}
.doc-link a {
    color: white;
}